.m-btn {
    height: 36px;
    min-width: 80px;
    padding: 0 16px;
    border-radius: 4px;
    text-align: center;
    border: none;
    background-color: #50B83C;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    font-family: MISA-font;
}

.m-btn .m-btn__text {
    font-size: 14px;
    font-family: MISA-font;
}

.m-btn:hover {
    background-color: #57C841;
}

.m-btn:active {
    background-color: #306F24;
}

.m-secondary {
    display: block;
    background-color: #ccc;
}

.m-btn-secondary {
    background-color: #fff;
    border-color: #E6E6E6;
    color: #1F1F1F;
    font-weight: 600;
}

.m-btn-secondary:hover {
    background-color: #F5F5F5;
}

.m-btn-secondary:active {
    background-color: #E0E0E0;
}

.m-btn-icon {
    background-repeat: no-repeat;
    background-position: 12px center;
    padding-left: 36px;
    padding-right: 16px;
}

.m-btn-icon-add {
    background-image: url("../../assets/icon/ic_add.png");
    background-size: 20px;
}

/* Combo Button */
.combo-btn .m-btn {
    min-width: 0px;
   
}

.combo-btn .m-btn-icon {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.dropdown {
    position: absolute;
    display: inline-block;
}

.dropdown .m-btn {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: #fff solid 1px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd
}

.dropdown:hover .dropdown-content {
    display: block;
}