.m-dialog {
    position: fixed;
    /* display: none; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.393);
}

.m-dialog .m-dialog-content {
    position: absolute;
    /* width: 400px; */
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 4px;
}


.m-dialog .m-dialog-header .m-dialog-title .m-header-dialog {
    font-weight: bold;
    font-size: 20px;
}

.m-dialog .m-dialog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 24px;
}


.m-dialog .m-dialog-body {
    padding: 0 24px 24px;
}

.m-dialog .m-dialog-header button.m-dialog-close,
.m-dialog .m-dialog-header a.m-dialog-link {
    position: absolute;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    right: 10px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: unset;
    cursor: pointer;
    /* top: 0; */
}

.m-dialog .m-dialog-header .m-dialog-close:hover {
    color: red;
}

.m-dialog .m-dialog-footer {
    /* background-color: #ccc; */
    width: 100%; 
    height: 56px;
    text-align: right;
    padding-right: 24px;
    margin-bottom: 16px;
    /* bottom: 0; */
    box-sizing: border-box;
    /* border-top: 1px solid rgb(224, 224, 224); */
}

.m-dialog .m-dialog-footer button {
    display: inline-block;
}

.m-dialog .m-dialog-footer button.btn-cancel,
.m-dialog .m-dialog-footer button.btn-save {
    background-color: #fff;
    border: 1px solid #E0E0E0;
    /* color: #000; */
   
}

.m-dialog .m-dialog-footer button.btn-cancel {
    margin-right: 8px;
}

.m-dialog .m-dialog-footer button.btn-cancel:hover,
.m-dialog .m-dialog-footer button.btn-save:hover  {
    background-color: #d2d3d6;
}

.m-dialog .m-dialog-footer button.btn-cancel .m-btn__text,
.m-dialog .m-dialog-footer button.btn-save .m-btn__text {
    color: #212121;
}

.m-dialog .m-dialog-footer button.btn-save {
    margin: 0 8px;
}