.m-input {
    width: 260px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid #babec5;
    padding: 0px 12px;
    margin: 8px 0px;
}

.m-input::placeholder {
    color: #999999;
  	font-size: 14px;
}

.m-input:hover {
    background-color: #e6e6e6;
  	cursor: pointer;
}

.m-input:focus{
	border: 1px solid #50b83c;
  	outline: none;
}

.m-input-error {
    border-color: #E61D1D !important;
}

.m-error-info {
    /* display: none; */
    color: #E61D1D;
}

.m-input-error+.m-error-info {
    display: block;
}

.m-input-icon {
    background-repeat: no-repeat;
    background-position: 232px center;
}

/* icon check */
.m-input-container {
    display: flex;
    position: relative;
    align-items: center;
}

.m-input-container i {
    position: absolute;
    font-size: 20px;
    left: 230px;
    /* top: 32%; */
}

.m-input-check {
    border: 1px solid #50B83C;
}
